.card {
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.react-multi-carousel-track {
  padding-bottom: 30px;
}
.card-body {
  padding: 20px;
}
.topsingle::after {
  top: 71px !important;
  left: 11% !important;
}
.subtitle {
  display: flex;
  justify-content: space-between;
}
.img-rightone img {
  width: 143% !important;
  position: relative;
  left: -71px;
  top: -26px;
}
.screenwidth {
  margin: 0px 50px;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
}
.carousel-control.left,
.carousel-control.right {
  background: none;
  width: 25px;
}
.carousel-control.left {
  left: 5px;
}
.carousel-control.right {
  right: 40px;
}
i#right {
  background: #ffffff;
  border: 1px solid rgba(94, 98, 130, 0.25);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.06);
  width: 40px;
  height: 40px;
  border-radius: 100px;
  position: absolute;
  top: 100px;
  padding: 8px;
  opacity: 23;
}
.carousel-control {
  opacity: 23;
}
.fa-angle-left:before,
.fa-angle-right:before {
  color: black;
}

.heading11 {
  font-size: "70px";
  line-height: "62px";
}

h4.card-title {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: -0.04em;
}
span.a {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.04em;
  color: #5e6282;
}
span.b {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.04em;
  color: #5e6282;
}
.check-option input[type="checkbox"] {
  background: #ffffff;
  border: 1px solid rgba(94, 98, 130, 0.25);
  border-radius: 3px;
  width: 24px;
  height: 24px;
}
label.container-radio {
  padding: 5px 18px 0;
}
.check-option {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.spc-2nd {
  padding: 20px 0;
}
/*tabs*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  background: #f1a501;
  border-radius: 64px;
  color: white;
  padding: 12px 36px;
}
.tabs-pgs .nav-tabs > li a:visited {
  background: green;
}
.nav-tabs > li > a {
  border: 1px solid rgba(94, 98, 130, 0.25);
  border-radius: 64px;
  padding: 12px 36px;
  color: #5e6282;
}
.tabs-pgs li {
  margin: 0 10px;
}
.nav-tabs {
  border-bottom: 0px solid #ddd;
  display: flex;
  justify-content: center;
}
ul.service-options-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul.service-options-ul li {
  margin: 0 40px;
  list-style: none;

  display: flex;
  align-items: center;
}
ul.service-options-ul li label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 0px;
  font-weight: 700;
}

ul.service-options-ul li input[type="checkbox"] {
  background: #ffffff;
  border: 1px solid rgba(94, 98, 130, 0.25);
  border-radius: 3px;
  width: 20px;
  height: 20px;
}
textarea.text-details {
  height: 400px;
}
.upload-file {
  height: 270px;
}

.images-upload ul {
  display: flex;
  justify-content: right;
}
.images-upload ul li {
  list-style: none;
  margin: 0 5px;
  position: relative;
}
.images-upload ul li i.fa.fa-window-close {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 18px;
  color: white;
}
.images-upload ul li .fa-window-close:before {
  content: "\f410";
  background: black;
}
.images-upload img {
  width: 100px;
}
.images-upload {
  margin: 15px 0;
}
.service-options {
  padding-bottom: 20px;
}
.row.pd-tb {
  padding-top: 20px;
}

.slick-arrow::before {
  color: black;
}

.mobileview {
  width: 80%;
  height: auto;
  position: absolute;
  background-color: white;
  z-index: 10;
  border: 1px solid #00000059;
  box-shadow: 1px 1px 4px 0px #0000009c;
  padding: 5px;
}

.mobileul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.signup-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

/*+++++++++++++++++++++++++++++++++++*/
@media (max-width: 1024px) {
  h4.card-title {
    font-size: 16px;
    line-height: 18px;
  }
  .subtitle {
    display: flex;
    flex-direction: column;
  }
  span.b {
    padding-top: 5px;
  }
}

@media (max-width: 770px) {
  .imgdiv {
    display: none;
  }
  .topsingle::after {
    top: 34px !important;
    left: 42% !important;
  }
  .screenwidth {
    margin: 0px 0px;
  }
}

.sliderSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-button {
  margin-left: 10px;
  font-family: Work Sans;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 786px) {
  .card {
    margin-bottom: 30px;
  }
  .card-grid {
    padding: 0px 0;
  }
  .sliderSection {
    flex-direction: column;
  }
  .mobileview {
    width: 91%;
  }
  .mobileul {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .heading11 {
    font-size: 43px;
    line-height: 44px;
  }
  .testimonial-div {
    flex-direction: column !important;
    gap: 20px !important;
    padding: 9px !important;
  }
  .signupbtn {
    width: 70px;
    padding: 9px 9px !important;
    font-size: 13px !important;
  }

  .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }
  .mobileview {
    width: 90%;
  }
}

.steps1 {
  /* width: 671px;
  height: 97px; */

  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 80px/97px
    var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 44px/65px Montserrat;
  letter-spacing: 0px;
  opacity: 1;
}

.steps0 {
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

.STEPSimage {
  border-radius: 20px;
  opacity: 1;
  width: 230px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.stepshead {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 80px/97px
    var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  font: normal normal bold 31px/57px Montserrat;
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  height: 40px;
}

.stepshead2 {
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: center;
  letter-spacing: 0px;
  color: #000000;
  font-size: 13px;
}

.cardimg88 {
  width: 590px;
  border-radius: 21px;
  height: 470px;
  position: relative;
  top: 68px;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 700px) {
  .lastsection0 {
    text-align: center;
    display: initial !important;
    font-size: 27px !important;
    line-height: 30px !important;
  }

  .lastsection2 {
    width: 100% !important;
  }
  .lastsection2 {
    font-size: 20px !important;
  }
  .contact-button {
    font-size: 15px !important;
    display: none;
  }
  .signup-btn {
    justify-content: center;
  }
  .cardimg88 {
    width: 100%;
    border-radius: 21px;
    height: 289px;
    position: relative;
    top: 0px;
    object-fit: cover;
    object-position: center;
  }
  .image000 {
    width: 100%;
    height: 100%;
  }

  .STEPSimage {
    width: 100%;
  }

  .faq-part {
    padding: 0px 15px !important;

    border-bottom-right-radius: 50px !important;
    border-bottom-left-radius: 50px !important;
    padding-bottom: 0px;
  }

  .divres {
    width: 100% !important;
  }
  .divres2 {
    flex-direction: column !important;
    gap: 27px !important;
  }
  .steps1 {
    font: normal normal bold 31px/38px Montserrat !important;
  }
  .steps1 p {
    display: flex;
  }
}

.image000 {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  border-bottom-right-radius: 94px;
  border-bottom-left-radius: 94px;
}

:root {
  /* Colors: */
  --unnamed-color-00000029: #00000029;
  --unnamed-color-000000: #000000;
  --unnamed-color-ffffff: #ffffff;
  --unnamed-color-858585: #858585;
  --unnamed-color-ef7a03: #ef7a03;
  --unnamed-color-707070: #707070;
  --unnamed-color-212121: #212121;

  /* Font/text values */
  --unnamed-font-family-montserrat: Montserrat;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-size-15: 15px;
  --unnamed-font-size-60: 60px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-19: 19px;
  --unnamed-line-spacing-73: 73px;
  --unnamed-text-transform-uppercase: uppercase;
}

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-15);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
  text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-15);
  line-height: var(--unnamed-line-spacing-19);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ffffff);
}
.unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-60);
  line-height: var(--unnamed-line-spacing-73);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-707070);
  text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-60);
  line-height: var(--unnamed-line-spacing-73);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-ef7a03);
  text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-montserrat);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-60);
  line-height: var(--unnamed-line-spacing-73);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-212121);
  text-transform: var(--unnamed-text-transform-uppercase);
}
