#AboutUs {
  margin: auto;
  margin-top: 100px;
  max-width: 80%;
  text-align: justify;
}

#AboutUs li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

#AboutUs label {
  margin-right: 20px;
}

.contactus {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0px;
  height: 50vh;
}

.contactus0 {
  width: 62%;
  text-align: justify;
  font-size: 18px;
  padding: 8px 0px;
}

@media (max-width: 786px) {
  .contactus {
    padding: 10px 0px;
  }
  .contactus0 {
    width: 95%;
    font-size: 16px;
  }
}
